
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
   /* background: url(portifólio/IMGcodigodeprogamaçao.png.webp) repeat-y;*/
}
strong{
    color: #22D4FD;
}
*{
    margin: 10;
    padding: 10;
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
}
.apresentacao_links_link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', 'sans-serif';
}
.apresentacao_links_link2{
    background-color: #2a2664;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #cdb8b8;
    font-family: 'Montserrat', 'sans-serif';
}

.navigation{
    background-color:cadetblue;
    width:100vw;
  }
  .navigation li{
    list-style: none;
  }
  .navigation a{
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
  }
  .navigation a:hover{
    text-decoration: underline;
    /* para tirar a linha que fica abaixo da referencia*/
    background-color: black;
    color: green;
  }
  .navigation ul{
    display: flex;
    justify-content: space-around;
    /*dar espaço padronizado entre as tags*/
  }
