
h1{
    background-color: white;
    color: black;
    text-align: center;
}
body{
    background-color: cadetblue;
}
img{
    text-decoration: center;
}
p{
    text-align: center;
}
img{
    margin: 10;
    padding: 10;
    border-radius: 16px;

}
.imagem{
    text-align: center;
}