
body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
strong{
    color: #22D4FD;
}
*{
    margin: 10;
    padding: 10;
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
}
.apresentacao_links_link{
    background-color: #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', 'sans-serif';
}
.apresentacao_links_link2{
    background-color: #2a2664;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #cdb8b8;
    font-family: 'Montserrat', 'sans-serif';

}